<h1 class= "m-5">Edit <%= @restaurant.name %></h1>

<div class= "m-5">
  <%= render "form", restaurant: @restaurant %>
</div>

<div class= "m-5">
  <%= link_to "Back to list", restaurants_path %>
</div>
